<h1>{{title}}</h1>
<p>Welcome to {{title}}, loving all the expresses</p>
<ul>
    {{#each posts}}
    <li>
        <a href="/post/{{title}}">{{title}}</a>
        <br/>
        {{content}}
    </li>
    {{/each}}
</ul>
